@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Pacifico&display=swap');

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}


body {
    background-color: #f8f8f8;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.swal-footer {
    text-align: center;
}

@keyframes slideIn {
    from {
        transform: translateY(100%);
    }

    to {
        transform: translateY(0);
    }
}

.cart-item {
    animation: slideIn 0.5s;
}

input,
textarea {
    border: 1px solid #000;
    border-radius: 5px;
}

.NavButton:hover {
    color: rgb(224, 166, 6);
    border-radius: 5px;
}

.bg-product {
    background-color: rgb(255, 220, 123);
}

.btn-login {
    border: 2px solid #e19c00;
    font-weight: 600;
    background-color: #faffdd;
    padding: 6px 36px;
    border-radius: 5px;
    color: rgb(255 129 0);
}

.btn-login:hover {
    border: 2px solid #ff8c00;
    font-weight: 660;
    background-color: #ffbf00;

}

.pagination-item {
    padding: 5px 14px;
    border: 1px solid #0bdb9d;
    border-radius: 5px;
    font-weight: 500;
    margin: 2px;
}

.pagination {


    margin: 20px auto;
}

.page-active {
    background-color: #0bdb9d;
    border: 1px solid #02aa78;
}





.product-image {
    aspect-ratio: 16/9;
    object-fit: cover;
}



.btn-white-solid {
    border-radius: 32px;
    border-width: 1px;
    background-color: white;
    padding: 1.25rem 2.5rem
}

footer {
    background-color: rgb(89 89 89);
}

.expanded {
    display: none;
}

.img_shadow {
    border: 1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 4px 4px 8px 0px #888;
}